---
# contact.html
---

{% include head.html %}

<div id="main" data-current="3">
	<div id="swap" class="dark" data-current="3">
		<a class="bigbox" href="index.html" data-target="0" data-current="3">
			<div class="padding">
				<span class="bigtext"><span class="symbol">0</span> BACK <span class="symbol">0</span></span>
			</div>
		</a>
		<a class="bigbox" href="mailto:p@peterlillian.com">
			<div class="padding">
				<span class="bigtext">EMAIL</span>
				<p>p@peterlillian.com</p>
			</div>
		</a>
		<a class="bigbox" href="https://www.linkedin.com/in/peter-lillian">
			<div class="padding">
				<span class="bigtext">LINKEDIN</span>
				<p>peter-lillian</p>
			</div>
		</a>
		<a class="bigbox" href="https://github.com/pelillian">
			<div class="padding">
				<span class="bigtext">GITHUB</span>
				<p>pelillian</p>
			</div>
		</a>
		<a class="bigbox" href="https://www.instagram.com/ptlil/">
			<div class="padding">
				<span class="bigtext">INSTAGRAM</span>
				<p>@ptlil</p>
			</div>
		</a>
		<div class="bigbox">
			<div class="padding">
				<div class="bigtext symbol">A A A</div>
			</div>
		</div>
	</div>
</div>

{% include foot.html %}
