@font-face {
	font-family: 'peterlilliansymbol';
	src: url('fonts/peterlilliansymbol.eot');
	src: url('fonts/peterlilliansymbol.eot?#iefix') format('embedded-opentype'),
		url('fonts/peterlilliansymbol.ttf') format('truetype'),
		url('fonts/peterlilliansymbol.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}