@font-face {
	font-family: 'pelilliansymbol';
	src: url('fonts/pelilliansymbol.eot');
	src: url('fonts/pelilliansymbol.eot?#iefix') format('embedded-opentype'),
		url('fonts/pelilliansymbol.ttf') format('truetype'),
		url('fonts/pelilliansymbol.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}