---
# index.html
---

{% include head.html %}

<div id="main" data-current="0">
	<div id="swap" class="light" data-current="0">
		<div class="center">
			<img class="link_img" src="images/peter-fs8.png">
		</div>
		<div>
			<div class="bigbox">
				<div class="padding-top">
					<span class="midsize">
					My name is<br><br>
					<span class = "bigtext">PETER<br>E.<br>LILLIAN</span>
					</span>
				</div>
			</div>
			<div class="bigbox">
				<div class="padding-bot">
					<p>I am a student at the University of Southern California studying Computer Science/Computer Engineering and Photography.</p>
					<p>My research at the <a href="https://robotics.usc.edu/resl/">Robotics Embedded Systems Laboratory</a> under <a href="https://viterbi.usc.edu/directory/faculty/Sukhatme/Gaurav">Gaurav Sukhatme</a> examines Reinforcement Learning, especially for topological exploration and multi-task learning.</p>
					<p>Food for thought: Future beings will appear as godlike to us as we do to ants. But unless they can find a way around the laws of physics, they'll have the same existential problems that ants do: entropy is always increasing.</p>
				</div>
			</div>
		</div>
		<a class="link-box bigbox" href="resume.html" data-target="3" data-current="0">
			<div class="padding">
				<span class="bigtext">R&EacuteSUM&Eacute</span>
			</div>
		</a>
		<a class="link-box bigbox" href="art.html" data-target="3" data-current="0">
			<div class="padding">
				<span class="bigtext">ART &amp; DESIGN</span>
			</div>
		</a>
		<a class="link-box bigbox" href="thoughts.html" data-target="3" data-current="0">
			<div class="padding">
				<span class="bigtext">THOUGHTS</span>
			</div>
		</a>
		<a class="link-box bigbox" href="contact.html" data-target="3" data-current="0">
			<div class="padding">
				<span class="bigtext">CONTACT PETER</span>
			</div>
		</a>
		<div class="bigbox">
			<div class="padding">
				<div class="bigtext symbol">A A A</div>
			</div>
		</div>
	</div>
</div>

{% include foot.html %}
