---
# photo_forge.html
---

{% include head.html %}

<div id="main" data-current="5">
	<div id="swap" class="light" data-current="5">
		<a class="bigbox exit" href="art.html" data-target="3" data-current="5">
			<span class="bigtext"><span class="symbol">&nbsp;X&nbsp;</span></span>
		</a>
		<!-- Swiper -->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class='swiper-slide'>
					<div class='swiper-text'>
						<span class="bold">TASK OF THE BLACKSMITH</span>
						<br><br>
						Swipe to view images...
					</div>
				</div>
				{% include swiper-slide.html src="/images/photo/forge/forge00.jpg" %}
				{% include swiper-slide.html src="/images/photo/forge/forge01.jpg" %}
				{% include swiper-slide.html src="/images/photo/forge/forge02.jpg" %}
				{% include swiper-slide.html src="/images/photo/forge/forge03.jpg" %}
				{% include swiper-slide.html src="/images/photo/forge/forge04.jpg" %}
				{% include swiper-slide.html src="/images/photo/forge/forge05.jpg" %}
				{% include swiper-slide.html src="/images/photo/forge/forge06.jpg" %}
				{% include swiper-slide.html src="/images/photo/forge/forge07.jpg" %}
				{% include swiper-slide.html src="/images/photo/forge/forge08.jpg" %}
				{% include swiper-slide.html src="/images/photo/forge/forge09.jpg" %}
			</div>
			<!-- Add Pagination -->
			<!--				<div class="swiper-pagination swiper-pagination-black"></div>-->
			<!-- Add Navigation -->
			<div class="swiper-button-prev swiper-button-black"></div>
			<div class="swiper-button-next swiper-button-black"></div>
		</div>
	</div>
</div>

{% include foot.html %}
