---
# resume.html
---

{% include head.html %}

<div id="main" data-current="3">
	<div id="swap" class="dark" data-current="3">
		<a class="bigbox" href="index.html" data-target="0" data-current="3">
			<div class="padding">
				<span class="bigtext"><span class="symbol">0</span> BACK <span class="symbol">0</span></span>
			</div>
		</a>
		<a class="bigbox" href="mailto:p@peterlillian.com">
			<div class="padding">
				<span class="bigtext">PETER LILLIAN</span>
				<p>p@peterlillian.com</p>
			</div>
		</a>
		<a class="bigbox" href="https://github.com/pelillian">GitHub</a>
		<div class="bigbox">
			<div class="padding">
				<span class="midtext">PROJECTS &amp; EXPERIENCE</span>
				{%- for item in site.data.resume_experience -%}
					<div class="textblock">
						<p><b>{{item.org | strip}}</b>, <i>{{item.where}}</i> <span class="right">{{item.when}}</span></p>
						<p>{{item.info}}</p>
					</div>
				{%- endfor -%}
			</div>
		</div>
		<div class="bigbox">
			<div class="padding">
				<span class="midtext">PUBLICATIONS</span>
				<div class="textblock">
					<p><a href='https://arxiv.org/abs/1812.05687'><b>Ablation of a Robot's Brain: Neural Networks Under a Knife</b></a> <span class="right">arXiv 2018</span></p>
					<p>
						It is still not fully understood exactly how neural networks are able to solve the complex tasks that have recently pushed AI research forward. We present a novel method for determining how information is structured inside a neural network. Using ablation (a neuroscience technique for cutting away parts of a brain to determine their function), we approach several neural network architectures from a biological perspective. Through an analysis of this method's results, we examine important similarities between biological and artificial neural networks to search for the implicit knowledge locked away in the network's weights.
					</p>
				</div>
			</div>
		</div>
		<div class="bigbox">
			<div class="padding">
				<span class="midtext">EDUCATION</span>
				<div class="textblock">
					<p><b>University of Southern California</b></p>
					<p><i>Master's</i> in Electrical Engineering (Data Science) <span class="right">2018–2020</span></p>
					<ul>
						<li>Recipient of Rose Hills Research Scholarship</li>
						<li>GPA: 3.7</li>
					</ul>
					<p><i>Bachelor's</i> in Computer Engineering and Computer Science <span class="right">2015–2019</span></p>
					<ul>
						<li>USC Trustee Scholarship (Full-Tuition, Merit-based)</li>
						<li>Minor: Photography</li>
						<li>GPA: 3.7</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bigbox">
			<div class="padding">
				<span class="midtext">ACHIEVEMENTS &amp; SKILLS</span>
				<div class="textblock">
					<p><b>Development:</b> Python (numpy/sklearn/matplotlib/pandas), Tensorflow, Java, C, C++, HTML, JS, Vue, SQL, AWS, Spark, MapReduce, CUDA, OpenMP, Docker, Ubuntu, Command Line, vim, tmux, Nginx, Linux Webserver</p>
					<p><b>Programs:</b> Adobe Suite (Photoshop, Illustrator, AfterEffects, Premiere), Cinema 4D, Cadence Virtuoso</p>
					<p><b>Other:</b> Public Speaking, Eagle Scout, Writing (won CSPA’s Gold Circle for Best Nonfiction Article)</p>
				</div>
			</div>
		</div>
		<div class="bigbox">
			<div class="padding">
				<span class="midtext">INTERESTS</span>
				<p>Artificial Intelligence, <a href='https://www.instagram.com/ptlil/'>Photography</a>, House music, Cr&egrave;me br&ucirc;l&eacute;e, Backpacking, History, Tea, Medieval Scandinavian Art, Sailing, Skiing</p>
			</div>
		</div>
		<a class="bigbox" href="index.html" data-target="0" data-current="3">
			<div class="padding">
				<span class="bigtext"><span class="symbol">0</span> BACK <span class="symbol">0</span></span>
			</div>
		</a>
		<div class="bigbox">
			<div class="padding">
				<div class="bigtext symbol">A A A</div>
			</div>
		</div>
	</div>
</div>

{% include foot.html %}
