---
# thoughts.html
---

{% include head.html %}

<div id="main" data-current="3">
	<div id="swap" class="dark" data-current="3">
		<a class="bigbox" href="index.html" data-target="0" data-current="3">
			<div class="padding">
				<span class="bigtext"><span class="symbol">0</span> BACK <span class="symbol">0</span></span>
			</div>
		</a>
        <a class="bigbox" href="docs/Automated_Authority.html" data-target="5" data-current="3">
            <div class="padding">
                <span class="bigtext">AUTOMATED AUTHORITY</span>
				<div class="textblock">
					<p class="center">
						What will the future of government look like as AI becomes more powerful?
					</p>
				</div>
            </div>
        </a>	
		<div class="bigbox">
			<div class="padding">
				<div class="bigtext symbol">A A A</div>
			</div>
		</div>
	</div>
</div>

{% include foot.html %}
