<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Peter Lillian</title>
	
	<link rel=stylesheet href="fonts.css">
	<link rel="preload" as="font" href="/fonts/peterlilliansymbol.ttf" type="font/ttf" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://fonts.gstatic.com/s/librebaskerville/v6/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://fonts.gstatic.com/s/librebaskerville/v6/kmKiZrc3Hgbbcjq75U4uslyuy4kn0qviTgY3KcC-wLOj.woff2" type="font/woff2" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700" rel="stylesheet">

	<link rel=stylesheet href="peterlillian.css">
	<link rel="stylesheet" href="swiper.css">
	
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#ed1c24">
	<meta name="theme-color" content="#ffffff">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="jquery.smoothState.min.js"></script>
	<script src="peterlillian.js"></script>
	
	<meta name="google-site-verification" content="6xsx7gPA2dzB9TzyS4PO3KQBgfSWYBo193b0b1eTBIg" />
</head>

<body>