---
# GEOM &amp; ATYPE
title: GEOM &amp; ATYPE
image: /images/art/geom.jpg
date: 2018-02-01
---

{% include head.html %}

<div id="main" data-current="5">
	<div id="swap" class="verydark" data-current="5">
        <div class="bigbox">
            <iframe src="https://player.vimeo.com/video/385777671" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="top: 0; left: 0; width: 100%; height: 100%; position: absolute;"></iframe>
        </div>	
	</div>
</div>

{% include foot.html %}
