---
# LIGHT POISON
title: LIGHT POISON
image: /images/photo/light/globe.jpg
date: 2019-12-01
---

{% include head.html %}

<div id="main" data-current="5">
	<div id="swap" class="verydark" data-current="5">
        <div class="bigbox">
            <div class="padding">
                <img class="big-img" src="/images/photo/light/globe.gif">
				<div class="textblock">
					<p>
						Our society produces more waste than it has at any time in history. Much attention is directed toward obviously visible signs of waste, but things are more complex than this. Can light itself be pollution?
					</p>
                    <p>
                        This animated globe, created from NOAA data, shows the intensity of light pollution at each point on the globe. Note how previously undeveloped regions are starting to show significant light pollution: among these are offshore oil rigs and development in the Amazon rainforest.
                    </p>
				</div>
            </div>
        </div>	
		<div class="bigbox">
			<div class="padding">
				<span class="closemidtext">99% of Americans experience significant light pollution.</span>
				<div class="textblock">
					<p>
						But what could it be doing to us?
					</p>
                    <p>
                        Light pollution has been linked to mental health issues, and the growth of mental health services in the US correlates with the growth in light pollution.
                    </p>
                    <p>
                        Light pollution's high concentrations of blue light wreak havoc on the human eye at night, affecting our circadian rhythms and contributing to an epidemic of sleep apnea.
                    </p>
                    <p>
                        Light pollution increases both the rate of macular degeneration and cataracts.
                    </p>
				</div>
			</div>
		</div>
		<div class="bigbox">
			<div class="padding">
				<span class="closemidtext">Estimates of the number of birds killed each year reach almost 1 billion.</span>
				<div class="textblock">
					<p>
						Birds, distracted and confused by lights eminating from buildings at night, crash into steel and glass at increasting rates each year.
					</p>
					<p>
						Baby sea turtles are among the other organisms deeply affected: upon hatching, they are drawn to strong lights away from the ocean, and towards cars, people, and dehydration.
					</p>
				</div>
			</div>
		</div>
		<div class="bigbox">
			<div class="padding">
                <img class="big-img" src="/images/photo/light/power.jpg">
				<span class="closemidtext">We're polluting for the sole purpose of creating more pollution.</span>
				<div class="textblock">
					<p>
                    According to the IDA, our country is spending <b>$3.3 billion</b> and emitting <b>21 million tons of CO2</b> into the atmosphere just to produce light pollution.
					</p>
				</div>
			</div>
		</div>
		<div class="bigbox">
			<div class="padding">
                <img class="big-img" src="/images/photo/light/us.gif">
				<span class="closemidtext">The worst part? Light pollution is getting worse every year.</span>
				<div class="textblock">
					<p>
						Notice how even in rural zones and offshore light pollution has become not just noticeable but risen to extreme levels. In some parts of the country, the fracking boom has created light pollution that can outshine cities.
					</p>
                    <p>
                        Humans used to draw inspiration from the stars, but in the modern age, a full third of humans have never even seen the milky way.
                    </p>
				</div>
			</div>
		</div>
		<div class="bigbox">
			<div class="padding">
                <img class="big-img" src="/images/photo/light/milkyway.jpg">
				<span class="closemidtext">But we can get our skies back!</span>
				<div class="textblock">
					<p>
						The battle is not lost! There are many things we can do to fix these problems.
					</p>
					<p>
						We need to unify light pollution laws at the federal and state levels.
					</p>
					<p>
						We need to switch to less-polluting light such as low-pressure sodium instead of metal halide.
					</p>
					<p>
						We need to change our culture to be less accepting of bright advertisements and wasteful buildings.
					</p>
					<p>
						We need to spread the word about light pollution, and tell anyone who will listen. So few people are aware of the crisis&mdash;join the fight at <a href="www.darksky.org">darksky.org</a>!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% include foot.html %}
