---
# THE INSIGNIFICANCE, THE IMPORTANCE
title: THE INSIGNIFICANCE, THE IMPORTANCE
image: /images/photo/space/space_space1.jpg
dir: /images/photo/space
date: 2017-05-01
info: This body of work that puts humans directly in the center of a grand scene, as we are used to seeing ourselves. We don't see how small we are compared to a world full of billions in an infinite universe because we are always the main characters of our own lives.<br><br>The world is so big, but we aren't so good at seeing it.
---

{% include head.html %}

{% include image-gallery.html name=page.title dir=page.dir info=page.info %}

{% include foot.html %}
---
